@import "../base.scss";

.popup {
  max-width: 51.2rem;
  max-height: 35.6rem;
  border: 0.1rem $gray-1 solid;
  margin: 0.5rem 0;
  border-radius: 0.4rem;
  font-family: $primary-font-family;
  overflow-y: scroll;
}

.popup__header {
  display: flex;
  flex-direction: row;
  margin: 1.6rem;

  .popup__header-c1 {
    width: 4rem;

    img {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .popup__header-c2 {
    flex: 1;
    p {
      padding: 0;
      margin: 0;
    }
    &-title {
      font-size: 1.4rem;
      line-height: 1.8rem;
      font-weight: 600;
    }
    &-description {
      font-size: 1.2rem;
      line-height: 1.6rem;
      font-weight: 400;
      color: $secondary-color;
    }
  }

  .popup__header-c3 {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.popup__header-line {
  width: 100%;
  height: 0.1rem;
  background-color: $gray-1;
  border: none;
}

.input {
  border: 0.1rem $gray-1 solid;
  border-radius: 0.4rem;
  margin: 1.6rem;

  &:focus-within {
    border: 0.1rem rgba(46,170,220,0.7) solid;
  }
  input::placeholder {
    font-family: $primary-font-family;
  }

  display: flex;
  flex-direction: row;
  font-family: $primary-font-family;

  .input-box {
    height: 3.2rem;
    padding: 0 0.8rem;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border: 0.1rem $gray-1 solid;
    width: calc(100% - 2rem);
    border-right: 0;
    outline: none;
    border: none;
    flex: 1;
  }

  .input-button {
    width: 7.4rem;
    border-left: 0.1rem $gray-1 solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    background-color: $gray-2;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    font-family: $primary-font-family;
    font-weight: 600;
    cursor: pointer;
    margin: 0 0 0 0.8rem;
  }
}

.search-modal {
  &__footer {
    height: 3.6rem;
    background-color: $gray-2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1.6rem;
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;

    &-button {
      background: #fff;
      border: none;
      height: 2.4rem;
      width: 6.4rem;
      border-radius: 0.4rem;
      font-family: $primary-font-family;
      color: $secondary-color;
      font-weight: 600;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
  .search-modal__person, .search-modal__group {
    margin: 1.6rem;
    &__title {
      font-size: 1.4rem;
      font-weight: 600;
      margin: 1rem 0;
    }
    &__desc {
      display: flex;
      padding: 0.5rem 0;
      &--active {
        background: $gray-2;
      }
      &-c1 {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        object-fit: cover;
      }
      &-c2 {
        flex: 1;
        font-size: 1.4rem;
        line-height: 2.4rem;
        padding: 0 1rem;
        font-family: $primary-font-family;
      }
    }
  }
}