@import "../base.scss";

.button {
  font-family: $primary-font-family;
  border-radius: 0.4rem;
  border-width: 0;
  padding: 0.8rem 1.6rem;
  max-width: 9.5rem;
  max-height: 3.6rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.4rem;
}