// font-family
$primary-font-family: "OpenSans", sans-serif;
$primary-color: #111827;
$secondary-color: #6B7280;
$gray-1: #D1D5DB;
$gray-2: #F3F4F6;

// base styling
html {
  font-size: 62.5%; /* equals 10px */
  color: $primary-color;
  font-family: $primary-font-family;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

@mixin line-length($length) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $length;
}